
  <h2 style="margin-bottom: 36px;">New Message</h2>

  <form style="display: flex; flex-direction: column; gap: 16px; justify-content: center; align-items: center;"
    method="POST" action="/new">
    <div>
      <label for="user">Name:
      </label>
      <input id="user" name="user" type="text">
    </div>
    <div>
      <label for="text">Your message:</label>
      <textarea name="text" id="text" cols="30" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" name="" id="submit">
    </div>
  </form>
